.pace-progress{
	background-color: #462f77 !important;
}

.main-menu.menu-light .navigation > li.active > a {
	background: #ffff;
	color: #462f77;
	font-weight: 400;
	border-radius: 4px;
	box-shadow: 0 0 10px 1px rgba(94, 93, 93, 0.7);
}

.main-menu.menu-light .navigation > li:hover > a {
	color: #462f77;
	font-weight: 400;
	border-radius: 4px;
}

.main-menu.menu-light .navigation > li ul .active {
	background: #ffff;
	border-radius: 4px;
	box-shadow: 0 0 10px 1px rgba(94, 93, 93, 0.7);
  }

.main-menu.menu-light .navigation > li ul li:hover a {
	color: #462f77;
	font-weight: 400;
	border-radius: 4px;
}

.dropdown-menu > a:hover{
	color: #462f77;
	font-weight: 400;
}

.dropdown-menu > a{
	background-color: #ffff !important;
}

.dropdown-menu{
	width: 200px !important;
}

.page-link:hover{
	color: #050505 !important;
}

.titleIcon{
	color: #462f77 !important;
	font-size: x-large;
}
.dashIcon{
	color: #020202 !important;
	font-size: x-large !important;
}

.title > span > h2{
	color: #6e6b7b !important;
	font-weight: bold;
}


#btnLogin{
	background-color: #3376af;
	color: white;
}

#btnLogin:hover{
	background-color: #462f77;
}

#btnGenerate{
	background-color: #3376af !important; 
	color: white !important;
	align-items: center;
}

.alert{
	text-align: center;
	color:rgb(255, 255, 255) !important;
}

.datosLogin{
	background-color: #c01923 !important;
	color:rgb(255, 255, 255) !important;
}

#bienvenida{
	text-align: center;
}

#bienvenida > h2{
	font-size: xx-large;
	color: #462f77;
}

#Forgotmesssage{
	text-align: center; 
}

#Forgotmesssage > h3{
	color: #3376af;
}


#recuperarPass{
	text-align: right;
	margin-top: 5px;
}

.btn-outline-new-info {
	border: 1px solid #3172aa !important;
	background-color: transparent;
	color: #3172aa;
}

.btn-outline-new-warning {
	border: 1px solid #e4661e !important;
	background-color: transparent;
	color: #e4661e;
}

.btn-outline-new-success {
	border: 1px solid #0abc36 !important;
	background-color: transparent;
	color: #0abc36;
}

.btn-new-info {
	background-color: #3172aa !important;
	color: white;
}

#dashUsuarios{
	justify-content: center;
}

#dashUsuarios2{
	justify-content: center;
}

input[type="search"]{
	width: 300px !important;
}

.form-control:focus{
	border: 1px solid #bbbbbb;
}

.form-select:focus{
	border: 1px solid #bbbbbb;
}

.page-item.active .page-link {
	z-index: 3;
	border-radius: 5rem;
	background-color: #462f77;
	color: #fff !important;
	font-weight: 600;
  }

.select-dentro-datatable{
	width: 11rem !important;
}

.buttonModal{
	border-left-color: #b2b2b2 !important;
	border-color: #b2b2b2 !important;
	border-radius: 0.358rem !important;
	margin: 7px;
}

.alignRight{
	text-align: right !important;
}

.label{
	font-size: 1rem !important;
}

.feather-16{
	color: rgb(0, 0, 0);
}

.users{
	margin-top: 25px;
	background-color: #f2f6f87d;
	border-style: double;
}

.sinColor{
	background-color: #f8f5f27d;
}

#buttonsU{
	align-items: right;
}

.btn-group-sm > .btn, .btn-sm {
	padding: 0.2rem 0.5rem !important;
}

.dropdown-menu[data-popper-placement="bottom-start"], .dropdown-menu[data-popper-placement="bottom-end"] {
	margin-top: -2.7rem !important;
}

.classHide{
	display: none !important;
}

.buttonsEnd{
	text-align: end;	
}

.nombreModulo{
	background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}

.tituloP{
	margin-left: 14px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#usuario-foto{
	max-width: 100%; 
	display: inline!important
}

.stockMinimo{
	background-color: #f2dede;
}

.modalMediano{
	width: 40rem !important;
}

.alignCenter{
	text-align: center;
}

#toast-container > div{
    opacity: 1 !important;
}

.img-fluid, .img-thumbnail {
	max-width: 0%;
	height: auto;
}

.btnFoto{
	width: 3rem;
	height: 3rem;
	align-items: center;
	justify-content: center;
}

#btnGenerate:hover{
	background-color: #462f77 !important;
}

.modalAsig{
	width: 100rem !important;
}

.error-box {
    height: 100%;
    position: fixed;
    width: 100%
}

.error-box .footer {
    width: 100%;
    left: 0px;
    right: 0px
}

.img{
	margin-top: -235px;
	max-width: 78% !important;
	height: auto;
	opacity: 0.2;
}

.error-body h1 {
    font-size: 160px;
    font-weight: 800;
    line-height: 210px
} 

.nav-pills .nav-link, .nav-tabs .nav-link {
    display: flex;
    align-items: center;
    justify-content: left !important;
	margin-left: 1rem;
}

.table thead th, .table tfoot th{
	vertical-align: middle;
	text-align: center;
}

.filtrosFechas{
	margin-right: 2rem !important; 
	margin-left: 2rem !important;
}

.margModalTab{
	margin-left: 2rem!important;
}
.margbutton{
	margin-right: 3rem!important;
}
.margVehiActDash{
	display: inline; 
	margin-right: 4rem !important;
}

.margTabTr{
	text-align: center !important;
}
.perfil{
	margin-left: 1rem; 
	margin-right: 1rem;
	margin-top: 1rem;
}

#tamañoTabMod{
	width: 100% !important;
}

#txt-search{
	padding: .571rem 1rem; 
	font-size: 1rem; 
	border: 1px solid #D8D6DE; 
	border-radius: .357rem;
	width: 310px;
}

#txt-search:focus{
	border: 1px solid #D8D6DE;
	outline: none;
}

.nav-tabs .nav-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transition: transform 0.3s;
    transform: translate3d(0, 150%, 0);
}
.nav-tabs {
    margin-bottom: 1rem;
    /* position: relative; */
    /* justify-content: center; */
}
.tabs-center {
    margin-bottom: 1rem;
    position: relative;
    justify-content: center;
}

.tabs-right {
    margin-bottom: 2rem;
    
}
.bottonPerfil{
	text-align: right;
    margin-right: 2rem;
    
}

.bottonMarDiv{
	margin-top: auto;
}

.linea{
	color: black !important;
}

.btnLoginStyle{
	background-color: #3376af;
	color: white;
}

div.card-header.link{
    cursor: pointer;
}


.text{
	text-align: justify !important;
	margin-left: 1px !important;
	margin-right: 1px !important;
}

.modalEntrada{
	max-width: 1100px !important;
}

.instrucciones{
	background-color: #5d84a5;;

}

.user-profile {
    position: relative;
    background-size: cover
}

.user-profile .setpos {
    top: -47px;
    right: -3px
}

.user-profile .profile-img {
    width: 70px;
    margin: 0 auto;
    padding: 20px 0 5px 0;
    border-radius: 100%
}

.user-profile .profile-img img {
    /*padding: 5px;*/
    width: 100%;
    border: 1px solid rgba(120, 130, 140, 0.13);
    border-radius: 100%
}

.user-profile .profile-text {
    padding: 5px 0px;
    position: relative;
    text-align: center
}

.user-profile .profile-text>a {
    color: #99abb4;
    padding: 0 5px
}

.user-profile .profile-text>a:hover {
    color: #1976d2
}

.user-profile .profile-text>a:after {
    display: none
}

.user-profile .dropdown-menu {
    left: 0px;
    right: 0px;
    top: 62px!important;
    width: 180px;
    margin: 0 auto
}

.busPrecios{
	color: #462f77 !important;
	/* text-shadow: 2px 2px rgb(157, 97, 216); */
	font-size: x-large;
}

.img-portada{
	max-width: 55rem;
}


.cerrarSuc{
	color: red;
}

.productos-precios-container{
	gap: 1rem;
}

.card-header{
	background-color: #e6e3e3;
	padding: 0.75rem;
}

input:disabled{
	cursor: not-allowed;
}